
  @mixin background-white {
    background: #ffffff;
  }
  @mixin border-radius($normal) {
    -webkit-border-radius: $normal;
    -moz-border-radius: $normal;
    border-radius: $normal;
  }
  @mixin content-font($size,$color) {
    font-size: $size;
    color: $color;
  }
  @mixin btn-red {
    background: red;
    color: #ffffff;
    @include border-radius(4px)
  }
  @mixin btn-style($background,$border-radius,$width-size,$height-size) {
    background: $background;
    color: #ffffff;
    width: $width-size;
    height: $height-size;
    @include border-radius($border-radius);
  }
  @mixin personal-bg {
    background-image: $personal;
  }
  @mixin personal-active {
    background-image: $personal_hover;
  }
  @mixin home-bg {
    background-image: $home;
  }
  @mixin home-active {
    background-image:$home_hover ;
  }
  @mixin xianhuo-bg {
    background-image: $xhjy;
  }
  @mixin xianhuo-active {
    background-image: $xhjy_hover;
  }
  @mixin zidong-bg {
    background-image: $zdjy;
  }
  @mixin zidong-active {
    background-image: $zdjy_hover;
  }

  @mixin guoji-bg {
    background-image: $GJHQ;
  }
  @mixin guoji-active {
    background-image: $gjhq_hover;
  }
  @mixin shouquan-bg {
    background-image: $sqbd;
  }
  @mixin shouquan-active {
    background-image: $sqbd_hover;
  }
  @mixin zhsz-bg {
    background-image: $zhsz;
  }
  @mixin zhsz-active {
    background-image: $zhsz_hover;
  }
  @mixin mored-bg {
    background-image: $GD;
  }
  @mixin mored-active {
    background-image: $gd_hover;
  }
