//导航图片
$personal:url("../../../static/img/personal.svg");
$personal_hover:url("../../../static/img/personal_hover.svg");
$home:url("../../../static/img/home.svg");
$home_hover:url("../../../static/img/home_hover.svg");
$xhjy:url("../../../static/img/xhjy.svg");
$xhjy_hover:url("../../../static/img/xhjy_hover.svg");
$zdjy:url("../../../static/img/zdjy.svg");
$zdjy_hover:url("../../../static/img/zdjy_hover.svg");
$GJHQ:url("../../../static/img/GJHQ.svg");
$gjhq_hover:url("../../../static/img/gjhq_hover.svg");
$sqbd:url("../../../static/img/sqbd.svg");
$sqbd_hover:url("../../../static/img/sqbd_hover.svg");
$zhsz:url("../../../static/img/zhsz.svg");
$zhsz_hover:url("../../../static/img/zhsz_hover.svg");
$GD:url("../../../static/img/GD.svg");
$gd_hover:url("../../../static/img/gd_hover.svg");
  //更新图片
$down:url("../../static/img/down.png");
//登录最小,关闭按钮
$narrow_white:url("../../../../static/img/narrow_white.svg");
$Close_white:url("../../../../static/img/Close_white.svg");
$member_Img:url("../../../../../static/img/infor/memberimg.png");

  @mixin background-white {
    background: #ffffff;
  }
  @mixin border-radius($normal) {
    -webkit-border-radius: $normal;
    -moz-border-radius: $normal;
    border-radius: $normal;
  }
  @mixin content-font($size,$color) {
    font-size: $size;
    color: $color;
  }
  @mixin btn-red {
    background: red;
    color: #ffffff;
    @include border-radius(4px)
  }
  @mixin btn-style($background,$border-radius,$width-size,$height-size) {
    background: $background;
    color: #ffffff;
    width: $width-size;
    height: $height-size;
    @include border-radius($border-radius);
  }
  @mixin personal-bg {
    background-image: $personal;
  }
  @mixin personal-active {
    background-image: $personal_hover;
  }
  @mixin home-bg {
    background-image: $home;
  }
  @mixin home-active {
    background-image:$home_hover ;
  }
  @mixin xianhuo-bg {
    background-image: $xhjy;
  }
  @mixin xianhuo-active {
    background-image: $xhjy_hover;
  }
  @mixin zidong-bg {
    background-image: $zdjy;
  }
  @mixin zidong-active {
    background-image: $zdjy_hover;
  }

  @mixin guoji-bg {
    background-image: $GJHQ;
  }
  @mixin guoji-active {
    background-image: $gjhq_hover;
  }
  @mixin shouquan-bg {
    background-image: $sqbd;
  }
  @mixin shouquan-active {
    background-image: $sqbd_hover;
  }
  @mixin zhsz-bg {
    background-image: $zhsz;
  }
  @mixin zhsz-active {
    background-image: $zhsz_hover;
  }
  @mixin mored-bg {
    background-image: $GD;
  }
  @mixin mored-active {
    background-image: $gd_hover;
  }
